@import "mixins";
.mainFooter{
    background-color: $headerPrimary;
    padding: 3% 15%;
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 3rem;
    section{
        text-align: start;
    }
    .helpFooter{
        grid-row: 3;
        ul{
            list-style: none;
            padding: 0;
            li{

                border-bottom: solid lightgrey 1px;
                margin: 2rem 0;
                a{
                    text-decoration: none;
                    color: $headFontBase;
                }
                a:hover{
                    text-decoration: underline;
                    color: grey;
                }
            }
        }
    }
    .newsletterFooter{
        grid-row: 1;
        input, button{
            width: 100%;
            height: 40px;
        }
        input{
            box-sizing: border-box;
            background-color: white;
            border: solid black 1px;
            color: black;
            padding: 2%;
        }
        button{
            margin-top: 1rem;
            background-color: $headFontBase;
            border-radius: 0px;
            border: 0px ;

        }
        button:hover{
            color: $headFontBase;
            background-color: white;
            border: 2px solid $headFontBase;

        }
    }
}


@media screen and (min-width: 1200px){
    .mainFooter{
        grid-template-columns: repeat(3 , 1fr);
        grid-gap: 3rem;
        .helpFooter, .newsletterFooter , .aboutFooter{
            grid-row: 1
    }

    }






}
