@import "mixins";

body{

header{
    background-color: $headerPrimary;
    padding: 2%;
    .mainNav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        a{
            text-decoration: none;
        }
        h1{
            color: $headFontBase;
            font-weight: bold;
        }
        .menu{
            width: 100%;
            li{
                a{

                color: black;
                }
            }
        }
            ul{
                padding: 0;

                display: flex;
                flex-wrap: wrap;

                list-style: none;
                justify-content: space-around;
                li{
                    margin: 2% 5%;
                    width: auto;
                    a{
                        color: $headFontBase;

                    }
                }
            }
            .iconList{
                width: 50%;
            }
    }

    .wpb-woo-products-slider .wpb-wps-slider-item {
        text-align: center;
        margin: 2rem;
        img{

        margin: auto;
        }
    }
    .wpb_slider_area figure{
        display: flex;
        justify-content: center;

        .pro_title{
            font-size: 3rem;
        }
        figcaption{
            margin: 0 5%;

        }
    }
    .grid_no_animation figcaption {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.wpb_slider_area .owl-theme .owl-nav{
    position: relative;
}

}

}

@media screen and (min-width: 1200px){
body{

    header{

        .mainNav{
            h1{
                margin: 0;
            }
            flex-wrap: nowrap;
            align-items: center;
            .menu{
                width: 40%;
                li{
                    margin: 0 2%;
                }
            }
            .iconList{
                width: 10%;
            }
        }
    }
}

}
