
main>.status-publish {

		display: grid;
		grid-template-columns: repeat(2,1fr);
		.onsale{
            position: absolute;
            color: white;
            background-color: #f74462;
            padding: 7px;
		}
		figure{
			margin:0;

		}


		div:nth-last-child(2){
		
			h1{
				font-size: 2.5rem;
				margin-bottom: 3rem;
			}
			.label_single_product, .price{
				display: inline;
				margin-right:  2%;
			}
			.label_description{
				margin: 2rem 0 0 0;
			}

		}


		div:nth-last-child(1){
			grid-column:1/3;
			display: grid;
			grid-template-columns:  1fr;
			ul{
				grid-column:1/3;
				display: flex;
				justify-content: center;
				list-style: none;
				li{
					margin: 0 2%;
					a{
						text-decoration: none;
						color: black;
					}
					a:hover{
						color:$headerPrimary;
					}
				}
			}
			#tab-description{
				text-align: center;
			}
			#reviews{
				display: block;
				text-align: center;
			}

		}
}







